{% extends "base.html" %}

{% block main %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Prediction Results</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Spam Prediction:</h5>
                <div>Text: <span id="tx"></span></div>
                <h5 class="pt-3">Spam Prediction Result:</h5>
                <div id="prediction"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-primary" href="/results" role="button">History</a>
            </div>
        </div>
    </div>
</div>

<div class="container pt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h1>Spam Prediction</h1>
            <form action="" id="post-form">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" step="0.1" class="form-control" id="input_the_text" value="Input the text here" placeholder="" required>
                </div>
                 <h5>Retrain model before the prediction:</h5>
                <div class="form-group">
                    <input type="radio" id="yes" name="model_update" value="yes">
                    <label for="yes">Yes</label>
                    <input type="radio" id="no" name="model_update" value="no" checked>
                    <label for="no">No</label><br>
                </div>
                <button type="submit" value="Submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Submit</button>
            </form>
        </div>
    </div>
</div>
{% load static %}
<div class="container pt-5">
        <div class="col-md-4">
            <h4>WordCloud of spam messages</h4>
            <img border="0" src="{% static 'wordcloud_spam.jpg' %}" alt="spam_words" width="500" height="500" >
        </div>
</div>
<script>
    $(document).on('submit', '#post-form',function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:'{% url "predict:submit_prediction" %}',
            data:{
                input_the_text:$('#input_the_text').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },
            success:function(json) {
                document.forms["post-form"].reset();
                document.getElementById("prediction").innerHTML = json['result']
                document.getElementById("tx").innerHTML = json['input_the_text']
            },
            error : function(xhr,errmsg,err) {

            }
        });
    })
</script>

{% endblock %}